NEXT_PUBLIC_APP_URL=https://stl-musicians.com
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL=/dashboard
NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL=/dashboard
DATABASE_URL=
BLOB_READ_WRITE_TOKEN=
RESEND_API_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PRICE_SONG_MONTHLY=
STRIPE_PRICE_SONG_YEARLY=
STRIPE_PRICE_ALBUM_MONTHLY=
STRIPE_PRICE_ALBUM_YEARLY=
